//引入清除默认样式
//@import './reset-old.scss';
@import 'reset';

//滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}

// navbar的设置
.j-app-bar .v-toolbar__content {
  width: 1200px !important;
  margin: 0 auto !important;
}

.j-search .trending {
  .title{
    color:black
  }
  .hot-item .trending-text {
    color: black !important;
  }
}
